.menu_bought{
    background: #fff;
}
.menu_bought_content{
    display: flex;
    align-items: center;
    justify-content:center;
    
}
.menu_bought_content ul{
    background: #fff;
    list-style-type: none;
    margin: auto;
    width: 100%;
}
.menu_bought_content li{
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    line-height: 34px;
    color: #273D90;
    padding: 22px 55px;  
}
.menu_bought_content li a{
    text-decoration: none;
    color: #273D90;
}
.menu_bought_content li a::before{
    color: #EE0D79;
}
.li_border{
    border-right: 1px solid #CDCDCD;
}
.nav-cart{
    cursor: pointer;
}
.li_border:last-child{
    border: none;
}
.li_border.active{
    color: #EE0D79;
}
.cart_buy_together{
    background: #fff;
    height: auto;
    margin-top: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.cart{
    padding: 0 8%;
}
.padd{
    padding-bottom: 150px;
}
.cart_line_1{
    width: 100%;
    display: flex;
    padding: 5px 45px 5px 65px;
    border-bottom: 1px solid #ECECEC;
}
.shop_name_cover{
    width: 70%;
}
.shop_group{
    margin: 6px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ECECEC;
    border-radius: 6px;
}
.group{
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #051C65;
}
#numb{
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #EE0D79;
}
.time_count_down{
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #7D7D7D;
    padding: 0 13px;
}
.wait_accept{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wait_accept span{
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    color: #EE0D79;
    text-align: right;
}
.cart_line_2{
    display: flex;
    margin: 18px 0;
    width: 100%;
    padding: 0 45px 18px 65px;
    border-bottom: 1px solid #ECECEC;
}
.img_product_cover{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.img_product_cover{
    padding-right: 38px;
}
.details_product_cover{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details_product{
    width: 100%;
    text-align: left;
}
.name_description{
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.price_product_cover{
    width: 10%;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
}
.price_product{
    width: 100%;
    text-align: right;
}
.name_description{
    font-size: 16px;
    line-height: 30px;
    color: #333333;
}
.d{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #959595;
}
.price_product_num{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #959595;
}
.price_product_num2{
    font-size: 24px;
    line-height: 22px;
    text-align: right;
    text-decoration-line: line-through;
    color: #EE0D79;
}
.cart_line_3{
    margin: 18px 0;
    width: 100%;
    padding: 0 45px 18px 65px;
}
.amount_money_cover{
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount-money{
    width: 100%;
    text-align: right;
}
.abc{
    font-size: 36px;
    line-height: 22px;
    text-align: right;
    color: #EE0D79;
    padding-left: 40px;
}
.abc2{
    font-size: 24px;
    line-height: 22px;
    color: #333333;
    margin: 5px;
}
.options_line_4{
    margin: 18px 0;
    width: 100%;
    padding: 0 5px 18px 65px;
    display: flex;
    width: 100%;
}
.id_oder_cover{
    width: 50%;
}
.options_order{
    display: flex;
    width: 50%;
}
.qr_id{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
    color: #061BDA;
}
.date_id{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #828BAC;
}
.btn_add_fr, .btn_view_rced, .btn_abort_buy_ag, .btn_add_pay, .btn_view_order_ag{
    background: #6D44E0;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 240px;
    height: 54px;
    color: #fff;
    margin-right: 20px;
}

.btn_add_prcs{
    background: #C4C4C4;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 240px;
    height: 54px;
    color: #fff;
    margin-right: 20px;
}

.btn_view_pr,.btn_abort_od{
    background: #ECECEC;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 240px;
    height: 54px;
    margin-right: 20px;
}
.btn_add_vote{
    border: 1px solid #6D44E0;
    border-radius: 6px;
    background: none;
    outline: none;
    width: 240px;
    height: 54px;
    color: #6D44E0;
    margin-right: 20px;
}